<!DOCTYPE html>
<html>
<head>
	<title>Stripe on Rails</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- Stripe -->
	<%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
	<%= tag :meta, name: "stripe-publishable-key", content: STRIPE_PUBLISHABLE_KEY %>
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
